.login {
  margin: 30vh 20%;
  border-radius: 1rem;

  padding: 3em 3em 4em 3em;

  background-color: #eee;
}

div.form-group,
form div {
  width: 100%;
}

form label {
  margin: 10px auto;
}

form img {
  width: 80%;
}

form button {
  border: 1px solid rgb(138, 42, 42);
  color: rgb(138, 42, 42);
  border-radius: 5px;

  transition-duration: 0.3s;
}

form button:active {
  background-color: #ddd;
}

form button:hover {
  background-color: rgb(138, 42, 42);
  color: #eee;
}

@media only screen and (max-width: 700px) {
  .login {
    margin: 30vh 0;
    border-radius: 0;
    padding: 1em 1em 3em 1em;
  }
}
