@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* Import that allows use of 
 * 1. Ubuntu font
 */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  background: url("../assets/backgrounds/bg_field.png") no-repeat fixed;
  background-size: cover;

  font-family: monospace;

  /* TODO: Lazy code removal */
  transition-duration: 1s;
}

a {
  text-decoration: none;
  color: rgb(37, 36, 36);
}

nav {
  background: rgba(95, 168, 86);
  background: rgba(95, 168, 86, 0.8);

  width: 100%;
}

.navbar {
  padding: 0;
}

.navbar-brand > img {
  width: 30vw;
  width: clamp(5em, 30vw, 10em);
}

.navbar-nav {
  font-size: 1.4em;
  font-size: clamp(1em, 3vw, 1.6em);
}

.navbar-nav .nav-item {
  margin-right: 20px;
  height: 100%;
}

@media only screen and (max-width: 992px) {
  .navbar-nav .nav-item {
    margin: auto 15px;
  }

  .nav-link {
    padding-left: 10px !important;
  }

  #navigation {
    padding-bottom: 10px;
  }
}

.nav-link {
  color: #000;
}

.nav-link:hover {
  border-radius: 10px;
  background-color: #000;
  color: #fff;
}

.material-icons {
  font-size: 1.2em;
  font-size: clamp(1.4em, 3vw, 1.4em);
  display: inline;
  vertical-align: middle;
}

.head-card {
  background: rgba(95, 168, 86);
  background: rgba(95, 168, 86, 0.8);
  border-radius: 50px;

  height: 70vh;
  margin: 5vw;

  overflow: hidden;
}

.head-card div {
  position: relative;
  bottom: 70%;
}

.head-card div p {
  color: #000;
}

.head-card div p:first-child {
  font-size: 2em;
  font-size: clamp(2.5em, 5vw, 4em);

  margin: 30px 30px 0 30px;
}

.head-card div p:nth-child(2) {
  font-size: 1em;
  font-size: clamp(1em, 3vw, 2em);
  margin: 0 30px 30px 30px;
}

.head-card a {
  text-decoration: none;

  color: #000;
  border: 1px solid #000;
  border-radius: 50px;

  padding: 10px;

  font-size: 4vw;
  font-size: clamp(1em, 4vw, 2em);

  position: relative;
  left: 10%;
}

.head-card a:hover {
  transition-duration: 500ms;
  background-color: #000;
  color: #fff;
}

.head-card a:active {
  color: rgb(228, 76, 76);
  border-color: rgb(228, 76, 76);
}

.head-card-img {
  height: 90%;

  position: relative;
  top: 10%;
  left: 50vw;
}

.marketplace {
  margin-top: 20%;
  padding: 5vh 5px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  height: 100%;

  text-align: center;
  font-size: 6vw;
  font-size: clamp(1em, 6vw, 2em);
}

.marketplace > p {
  font-family: "Ubuntu", sans-serif;
}

.marketplace a {
  color: #fff;
  border: 1px solid #333;
  border-radius: 5px;

  margin: 15px;
}

.marketplace a:hover {
  -o-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(228, 76, 76);

  border-color: rgb(228, 76, 76);
}

.marketplace img {
  width: 35vw;
  width: clamp(6em, 35vw, 9em);
}

.page-footer {
  background: #011c39;
  color: #ccc;
  padding: 2em;
}

.socmed img {
  width: 30px;
  margin-right: 10px;
}

div.row > div {
  margin-bottom: 20px;
}

#dynamic-parent {
  font-size: 2em;
  color: white;
}

/* Effective */

main.about-section {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1vw;
  text-align: center;
  color: #fff;
}

main.about-section > div:first-child {
  padding: 30px;
}

main.about-section .card {
  padding: 20px;
  background-color: rgba(95, 168, 86);
  width: 20em;
  box-shadow: 0 0 20px 5px #000;
  margin: 2vw;
  border-radius: 20px;

  color: #000;

  transition-duration: 0.5s;
}

main.about-section img {
  width: 100%;
  align-self: center;
}

main.about-section .card:hover {
  box-shadow: 0 0 50px 10px #fff;
  color: #fff;
}

main.about-section > h2 {
  margin: 3vh 0 1vh 0;
}

.title {
  color: grey;
}

.profile-wrapper img {
  width: 200px;
  height: 200px;
  margin: 20px auto;
}
